/kotlin/gradle/target
/kotlin/gradle/.gradle
/kotlin/gradle/build
/kotlin/gradle/.idea

/kotlin/maven/target
/kotlin/maven/.mvn/wrapper/*.jar

/java/maven/target
/java/maven/.mvn/wrapper/*.jar

/java/gradle/target
/java/gradle/.gradle
/java/gradle/build

/scala/sbt/project/project
/scala/sbt/project/target
/scala/sbt/target
/scala/sbt/.idea
/scala/sbt/.settings
/scala/sbt/.classpath
/scala/sbt/.project

/scala/maven/target
/scala/maven/.mvn/wrapper/*.jar

/scala/gradle/target
/scala/gradle/.gradle
/scala/gradle/buildsc
/scala/gradle/build
/scala/gradle/bin

/javascript/target
/javascript/node_modules
/typescript/target
/typescript/node_modules

/postman/javascript/node_modules/
/postman/javascript/target/
/postman/typescript/node_modules/
/postman/typescript/target/
results/


settings.json
.DS_Store
