/kotlin/target
/kotlin/.gradle
/kotlin/build
/kotlin/.idea
/java/maven/target
/java/gradle/target
/java/gradle/.gradle
/java/gradle/build
/scala/project
/scala/target
/javascript/target
/javascript/node_modules
/typescript/target
/typescript/node_modules
settings.json
